@charset "UTF-8";

:root {
    --base-white: #f7f8f9;
    --font-base: #6E7688;
    --font-sub: #9AA1A8;
    --hover: #AFC6D8;
    --border: #E3E6E9;
    --font-strong: #2E3136;
    --bg-light: #D2DEEE;
    --base-dark: #3A3D42;
}

/* layout */
body {
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    color: var(--font-base);
    font-size: 16px;
    background: var(--base-white);
    line-height: 180%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* -----------------共通部分---------------- */
/* layout */
.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
}

.l-footer {
    background: var(--base-dark);
    color: var(--hover);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 12px;
}

.l-wrapper {
    margin-inline: clamp(15px, -50.141px + 17.371vw, 200px);
}

section {
    padding-block: clamp(60px, 52.958px + 1.878vw, 80px);
    text-align: center;
}

.l-mbe--6080 {
    margin-block-end: clamp(60px, 52.958px + 1.878vw, 80px);
}

/* component */
/* header */
.c-header__pc {
    display: none;
}

.c-header-logo {
    width: 168px;
    max-width: none;
    flex-shrink: 0;
}

.c-header-nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

.c-header-nav__list a {
    font-size: 14px;
    font-weight: bold;
}

.c-header-nav__list:hover {
    text-decoration: underline 1px var(--font-base);
}

.c-logo__insta a img {
    display: block;
}

/* other */
.c-title {
    font-size: clamp(32px, 26.146px + 1.561vw, 48px);
    font-weight: bold;
    color: var(--font-strong);
    border-bottom: solid var(--font-base);
    border-bottom-width: clamp(5px, 4.634px + 0.098vw, 6px);
    display: inline-block;
    text-transform: uppercase;
    margin-block-end: 80px;
}

.c-btn-container {
    text-align: center;
}

.c-btn {
    border: 1px solid var(--font-base);
    display: inline-block;
    padding-block: 10px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-block-start: 80px;
}

.c-btn a {
    font-size: 15px;
    font-weight: bold;
}


/* footer */
.l-footer {
    margin-block-start: clamp(60px, 52.958px + 1.878vw, 80px);
}

.c-footer-logo {
    width: 168px;
}

.c-footer-sns ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    line-height: 100%;
}

.c-footer-nav ul {
    display: flex;
    justify-content: space-between;
    gap: 57px;
    padding-inline: 300px;
}

.c-footer-nav__list {
    font-size: 14px;
    font-weight: bold;
}

.c-footer-sns li:hover,
.c-footer-nav__list:hover {
    border-bottom: 1px solid var(--hover);
}

.c-copy {
    font-size: 12px;
    color: var(--base-white);
}

/* -----------------top-------------------- */

.c-top--pro__text {
    text-align: center;
    line-height: 2;
}

.l-top__sec--members {
    background: var(--bg-light);
}

.l-top__mem--photo {
    display: flex;
    gap: clamp(30px, -1.690px + 8.451vw, 120px);
}

.c-top__mem--img {
    width: 250px;
}

/* -----------------news-------------------- */
.c-news__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-block-end: clamp(60px, 52.958px + 1.878vw, 80px);
}


.c-news-item {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: start;
    margin-inline: auto;
    margin-block-end: clamp(10px, 2.254px + 2.066vw, 32px);
}

.c-news-item__data {
    display: flex;
    gap: 10px;
}

.c-news-item__label {
    color: var(--font-strong);
    background: var(--hover);
    padding-inline: 10px;
    border-radius: 50px;
}

@media(min-width:768px) {
    .c-header__pc {
        display: block;
    }
}